html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.input {
    display: block;
    width: 400px;
    border: 1px solid gray;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    border: 0;
    background: #ee6c4d;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}